/* varaibles */
$black: #1c1f33;
$grey: #c1cfda;
$lightgrey: #fafafa;
$red: #f42c04;
$blue: #1b5b81;
$temporaryBorder: 1px solid rgb(231, 231, 231);
$gap: 0.5rem;
$breakpoint-992: 992px;
$fontSize: 1.7rem;
$lineHeight: 2.4rem;

$breakpoints: (
  576: 576px,
  768: 768px,
  992: 992px,
  1024: 1024px,
  1144: 1144px,
  1200: 1200px,
);
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Quicksand', sans-serif;
  color: $black;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: $blue;
  &:hover {
    color: $blue;
  }
  &:active {
    color: $blue;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font-size: 5rem;
  line-height: 7.1rem;
}
h2 {
  font-size: 3.3rem;
  line-height: 4.7rem;
}
h3 {
  font-size: 2.6rem;
  line-height: 3.7rem;
}
p {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  line-height: 2.4rem;
  font-size: 1.7rem;
  font-weight: 300;
  white-space: normal;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  border: $temporaryBorder;
}
/* toolbar */
.toolbar {
  border: $temporaryBorder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: $gap * 2 $gap * 3;
}
/* logo */
.logo {
  border: $temporaryBorder;
  display: block;
  max-width: 100%;
}
/* btn */
.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  padding: 0;
  border: $temporaryBorder;
  outline: none;
  font-size: 2.4rem;
  cursor: pointer;
  &--close {
    margin-left: auto;
  }
  &--hamburger {
    @media all and (min-width: map-get($map: $breakpoints, $key:1200 )) {
      display: none;
    }
  }
}
/* auth-menu */
.auth-menu {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: flex;
  }
  &__item {
    margin-left: $gap;
  }
  &__link {
    border: $temporaryBorder;
    display: block;
    padding: $gap $gap * 2;
    border-radius: 2.2rem;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.4rem;
  }
}
/* navigation */
.navigation {
  display: none;
  border: $temporaryBorder;
  padding: $gap $gap * 3;
  @media all and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: block;
  }
}
/* menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__item {
    margin-left: $gap / 3;
    margin-right: $gap / 3;
  }
  &__link {
    border: $temporaryBorder;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    padding: $gap;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 1.5rem;
    color: $black;
  }
}
/* sidebar */
.sidebar {
  // border: $temporaryBorder;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: $gap * 4;
  z-index: 100;
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: none;
  }
  &__content {
    max-width: 768px;
    margin: 0 auto;
    padding: $gap * 4 $gap * 4 $gap * 8;
    border-radius: 0.8rem;
    // border: $temporaryBorder;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  }
}
/* submenu */
.submenu {
  // border: $temporaryBorder;
  // max-width: 1024px;
  &__title {
    color: $black;
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 2.85rem;
    display: block;
    width: 100%;
    height: 100%;
  }
  &__list {
    width: 100%;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: 300;
    color: $blue;
    white-space: nowrap;
  }
}
.submenu--large {
  display: none;
  max-width: 1200px;
  padding: $gap * 4 $gap * 4 $gap * 8;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: fixed;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: block;
  }
  .submenu__title {
    margin-bottom: $gap * 2;
  }
  .submenu__subtitle {
    width: auto;
    display: block;
    font-size: 1.7rem;
    line-height: 2.4rem;
    white-space: normal;
    color: $black;
    font-weight: 600;
    margin-bottom: $gap * 2;
  }
  .submenu__list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: $gap * 4;
    @media screen and (min-width: map-get($map: $breakpoints, $key:768 )) {
      grid-template-columns: 1fr 1fr;
      column-gap: $gap * 2;
    }
    @media screen and (min-width: map-get($map: $breakpoints, $key:992 )) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .submenu__item {
    border: $temporaryBorder;
    padding: $gap * 2;
  }
  .submenu__link {
    // border: 1px solid red;
    @media screen and (min-width: map-get($map: $breakpoints, $key:576 )) {
      display: flex;
    }
  }
  .submenu__description {
    margin-left: $gap * 4;
  }
  .submenu__content {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $black;
  }
}
