/* variables */
$primary: #ff0002;
$darkprimary: #bb0001;
$secondary: #4472ca;
$dark: #001514;
$light: #fbfffe;

$temporaryBorder: 1px solid #d1d1d1;

$gap: 0.5rem;
$fontSize: 1.7rem;
$lineHeight: 2.4rem;
$transition: all 0.5s ease-in-out;

$breakpoints: (
  576: 576px,
  768: 768px,
  992: 992px,
  1024: 1024px,
  1144: 1144px,
  1200: 1200px,
);
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QN.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-wi40.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-wg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: $dark;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.4rem;
  color: $dark;
  &:hover {
    color: $light;
  }
  &:active {
    color: $dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  user-select: none;
}
h1 {
  font-size: 5rem;
  line-height: 7.1rem;
}
h2 {
  font-size: 3.3rem;
  line-height: 4.7rem;
}
h3 {
  font-size: 2.6rem;
  line-height: 3.7rem;
}
p {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  line-height: 2.4rem;
  font-size: 1.7rem;
  font-weight: 300;
  white-space: normal;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
form {
  width: 100%;
}
label {
  display: inline-block;
  font-size: $fontSize * 0.8;
  margin-bottom: $gap;
}
input,
select {
  width: 100%;
  padding: $gap * 2 $gap * 3;
  font-size: $fontSize * 0.8;
  outline: none;
  border: 2px solid rgba($color: $dark, $alpha: 0.05);
  border-radius: 0.4rem;
  background-color: transparent;
}
input[type='checkbox'] {
  width: auto;
}
select {
  width: 100%;
  display: block;
  background-color: $light;
}
option {
  margin-top: $gap;
}
textarea {
  display: block;
  outline: none;
  resize: vertical;
  width: 100%;
  border: 2px solid rgba($color: $dark, $alpha: 0.05);
}
button {
  font-family: 'Quicksand', sans-serif;
}
aside,
article,
main {
  width: 100%;
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 2 * $fontSize;
  &--close {
    margin-left: auto;
    color: rgba($color: $dark, $alpha: 1);
    &:hover {
      color: rgba($color: $dark, $alpha: 0.6);
    }
  }
  &--hamburger {
    color: $light;
    &:hover {
      color: rgba($color: $light, $alpha: 0.6);
    }
    @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
      display: none;
    }
  }
  &--auth {
    font-size: $fontSize * 1.18;
    color: $light;
    &:hover {
      color: rgba($color: $light, $alpha: 0.6);
    }
  }
  &--action {
    padding: $gap * 2 $gap * 4;
    border-radius: 2.3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $fontSize;
    white-space: nowrap;
    width: max-content;
    background-color: $secondary;
    color: $light;
    transition: $transition;
    &:hover {
      color: $primary;
      background-color: $light;
    }
  }
  &--prev,
  &--next {
    position: absolute;
    z-index: 1;
    top: 80%;
    transform: translateY(-50%);
    font-weight: 300;
    border-radius: 50%;
    background-color: transparent;
    padding: $gap;
    color: darken($color: $darkprimary, $amount: 5);
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.1);
    }
    @media screen and (min-width: map-get($map: $breakpoints, $key: 1200)) {
      top: 50%;
    }
  }
  &--prev {
    left: $gap * 4;
  }
  &--next {
    right: $gap * 4;
  }
}
/* toolbar */
.toolbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $gap * 2 $gap * 3;
  background-color: transparent;
}
/* logo */
.logo {
  display: block;
  width: 80px;
  height: auto;
  color: $light;
  font-weight: 600;
  font-size: $fontSize * 1.2;
}
/* auth menu */
.auth-menu {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: flex;
  }
  &__item {
    margin-left: $gap;
  }
  &__link {
    display: block;
    &.active {
      .btn--auth {
        color: $primary;
      }
    }
  }
}
.auth-menu.auth-menu--sidebar,
.auth-menu.auth-menu--footer {
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  padding: $gap * 6 $gap * 3 0;
  border-top: 1px solid rgba($color: $dark, $alpha: 0.1);
  margin-top: $gap * 8;
  .btn--auth {
    color: $dark;
  }
  .auth-menu__link:hover {
    .btn--auth {
      color: rgba($color: $dark, $alpha: 0.6);
    }
  }
  .auth-menu__link.active {
    .btn--auth {
      color: $secondary;
    }
  }
}
.auth-menu.auth-menu--footer {
  width: 100%;
  border-top: none;
  padding-bottom: $gap * 6;
}
/* navigation */
.navigation {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 70px;
  left: 0;
  padding: $gap $gap * 3;
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: block;
  }
  &--fixed {
    position: fixed;
    transform: translateY(-70px);
    background-color: $dark;
  }
}
/* menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  &__item {
    margin-left: $gap / 3;
    margin-right: $gap / 3;
  }
  &__link {
    position: relative;
    display: block;
    white-space: nowrap;
    text-transform: lowercase;
    padding: $gap;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $light;
    font-weight: 600;
    &:hover {
      color: rgba($color: $light, $alpha: 0.6);
    }
    &.active {
      color: $primary;
    }
  }
}

/* sidebar */
.sidebar {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: $gap * 12 $gap * 4 $gap * 4;
  z-index: 100;
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: none;
  }
  &__content {
    max-width: 768px;
    margin: 0 auto;
    padding: $gap * 4 $gap * 4 $gap * 8;
    border-radius: 0.8rem;
    background-color: $light;
    box-shadow: 0px 0px 4px 0px rgba($color: $dark, $alpha: 0.3);
    border: 1px solid $dark;
  }
}

/* submenu */
.submenu {
  &__title {
    color: $dark;
    text-transform: capitalize;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 3rem;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: $gap * 2;
    &:hover {
      color: rgba($color: $light, $alpha: 0.8);
    }
  }

  &__title.active {
    color: $secondary;
  }
  &__list {
    width: 100%;
  }
  &__item {
    padding-left: $gap * 2;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: $fontSize;
    line-height: $lineHeight * 1.5;
    font-weight: 300;
    color: $dark;
    white-space: nowrap;
    position: relative;
    text-transform: lowercase;
  }
  &__link:hover {
    color: rgba($color: $light, $alpha: 0.5);
  }
  &__link.active:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color: $secondary, $alpha: 0.6);
  }
}
.submenu--large {
  display: none;
  max-width: 1200px;
  min-height: 600px;
  padding: $gap * 8 $gap * 4 $gap * 8;
  border-radius: 0.8rem;
  background-color: $light;
  box-shadow: 0px 0px 4px 0px rgba($color: $dark, $alpha: 0.3);
  border: 1px solid $dark;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  transition: $transition;
  @media screen and (min-width: map-get($map: $breakpoints, $key:1200 )) {
    display: block;
  }
  .submenu__title {
    padding-bottom: $gap * 4;
    margin-bottom: $gap * 4;
    border-bottom: 1px solid $dark;
    color: $dark;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      color: rgba($color: $dark, $alpha: 0.3);
    }
    &.active {
      color: $secondary;
      border-color: $secondary;
    }
  }

  .submenu__subtitle {
    width: auto;
    display: block;
    font-size: 1.7rem;
    line-height: 2.4rem;
    white-space: normal;
    font-weight: 600;
    margin-bottom: $gap * 2;
    color: $dark;
    text-align: center;
  }
  .submenu__list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: $gap * 4;
    justify-items: center;
    @media screen and (min-width: map-get($map: $breakpoints, $key:992 )) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  .submenu__item {
    max-width: 320px;
  }
  .submenu__link {
    min-height: 180px;
    &:hover {
      .submenu__subtitle,
      .submenu__description {
        color: rgba($color: $dark, $alpha: 0.6);
      }
    }
  }

  .submenu__image,
  .submenu__icon {
    margin: 0 auto $gap * 2;
  }
  .submenu__image {
    border-radius: 0.4rem;
  }

  .submenu__description {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $dark;
    text-align: center;
    margin-bottom: $gap * 2;
  }

  .submenu__link.active {
    .submenu__subtitle {
      color: $secondary;
      background-color: $light;
    }
    &::after {
      display: block;
      background-color: $secondary;
    }
  }
}
.submenu--footer {
  .submenu__title {
    height: auto;
    padding: 0;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    font-size: $fontSize;
  }
  .submenu__item {
    padding: 0;
  }
  .submenu__link {
    font-size: $fontSize * 0.9;
    line-height: $lineHeight;
  }
}

/* hero */
.hero {
  position: relative;
  z-index: 0;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    50% 26.77% at 50% 35.85%,
    #ff0002 0%,
    #bb0001 98.92%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__indicators {
    position: absolute;
    bottom: $gap * 2;
    left: 50%;
    transform: translateX(-50%);
    padding: $gap * 2;
    display: flex;
  }
  &__indicator {
    width: 48px;
    height: 6px;
    margin-left: $gap;
    margin-right: $gap;
    border: none;
    background-color: darken($color: $darkprimary, $amount: 5);
    border-radius: 3px;
    transition: $transition;
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.1);
    }
    &.active {
      background-color: $primary;
    }
  }
  &__image {
    display: none;
    position: absolute;
    max-width: 820px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &--show {
      display: block;
    }
  }
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $transition;
    // overflow: hidden;
    &--current {
      transform: translateX(0%);
      opacity: 1;
    }
    &--next {
      transform: translateX(100%);
    }
    &--prev {
      transform: translateX(-100%);
    }
  }
  &__content {
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: $gap * 2;
    @media screen and (min-width: map-get($map: $breakpoints, $key:768 )) {
      margin-left: $gap * 8;
    }
  }
  &__title {
    font-size: 5rem;
    line-height: 5.2rem;
    color: $light;
    font-weight: 700;
    margin-bottom: $gap * 4;
  }
  &__description {
    margin-bottom: $gap * 4;
    color: $light;
    font-weight: 500;
  }
}
/* footer */
.footer {
  padding: 6rem 1.5rem;
  &__submenus {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    column-gap: $gap * 2;
    row-gap: $gap * 4;
    margin-bottom: $gap * 8;
  }
  &__copyright {
    border-top: 1px solid rgba($color: $dark, $alpha: 0.05);
    text-align: center;
    padding-top: $gap * 6;
    max-width: 480px;
    margin: 0 auto;
  }
}
/* section */
.section {
  padding: $gap * 12 $gap * 3;
  min-height: 480px;
  &--newsletter {
    background-color: lighten($color: $primary, $amount: 30);
    .title {
      text-align: center;
    }
    .text,
    .info {
      color: $light;
      font-weight: 500;
      max-width: 480px;
      margin: 0 auto;
      text-align: center;
      font-size: $fontSize * 1.2;
      line-height: $lineHeight * 1.2;
    }
    .info {
      display: block;
      font-weight: 600;
      font-size: $fontSize;
      color: $dark;
    }
  }
  &--news {
    background-color: lighten($color: $secondary, $amount: 46);
  }
  &--gallery {
    padding-left: 0;
    padding-right: 0;
    border: $temporaryBorder;
  }
  //temporary
  &--banner {
    height: 480px;
    background-color: $dark;
    p {
      color: $light;
      font-size: $fontSize * 4;
      font-weight: 700;
      text-align: center;
    }
  }
}
.title {
  font-weight: 700;
  margin-bottom: $gap * 12;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
}
/* button link , button */
.btn-link,
.button {
  background-color: transparent;
  border: none;
  outline: none;
  color: $light;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  max-width: max-content;
  font-size: $fontSize;
  font-weight: 600;
  height: 36px;
  padding: 0;

  &__label {
    display: block;
    border: 1px solid $darkprimary;
    padding: $gap * 1 $gap * 2;
    background-color: $primary;
    color: $light;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }
  &__arrow {
    width: 36px;
    margin-left: $gap * 0.5;
    display: block;
    border: 1px solid $darkprimary;
    padding: $gap * 1;
    background-color: $primary;
    color: $light;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  &__action {
    height: 46px;
    .btn-link__label {
      background-color: $secondary;
      padding: $gap * 2 $gap * 3;
    }
    .btn-link__arrow {
      width: 46px;
      background-color: $secondary;
      padding: $gap * 2;
    }
  }
  &:hover {
    .btn-link__label,
    .btn-link__arrow,
    .button__label,
    .button__arrow {
      background-color: $light;
      color: $primary;
    }
    .btn-link__icon,
    .button__icon {
      margin-left: 0.5rem;
    }
  }
}
.button {
  &--newsletter,
  &--postcard {
    margin-left: auto;
  }
  &--postcard {
    .button__label {
      background-color: transparent;
      color: $secondary;
      border-color: transparent;
    }
    .button__arrow {
      background-color: $secondary;
      border-color: darken($color: $secondary, $amount: 10);
    }
    &:hover {
      .button__arrow {
        border-color: transparent;
      }
    }
  }
}

/* form */
.form {
  &__contact {
    min-width: 360px;
    max-width: 768px;
    margin: 0 auto;
    @media screen and (min-width: map-get($map: $breakpoints, $key:768 )) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        'reason reason'
        'market market'
        'firstName company'
        'lastName address'
        'phone .'
        'email .'
        'country country'
        'cooperation cooperation'
        'content .'
        'newsletter .'
        'recaptcha .'
        'message-data-sending message-data-sending'
        'message-request message-request'
        'message-subscription message-subscription'
        'submit .';
    }
    column-gap: $gap * 2;
    .input-group:nth-child(1) {
      grid-area: reason;
    }
    .input-group:nth-child(2) {
      grid-area: market;
    }
    .input-group:nth-child(3) {
      grid-area: firstName;
    }
    .input-group:nth-child(4) {
      grid-area: lastName;
    }
    .input-group:nth-child(5) {
      grid-area: phone;
    }
    .input-group:nth-child(6) {
      grid-area: email;
    }
    .input-group:nth-child(7) {
      grid-area: company;
    }
    .input-group:nth-child(8) {
      grid-area: address;
    }
    .input-group:nth-child(9) {
      grid-area: country;
    }
    .input-group:nth-child(10) {
      grid-area: cooperation;
    }
    .input-group:nth-child(11) {
      grid-area: content;
    }
    .input-group:nth-child(12) {
      grid-area: newsletter;
    }

    .recaptcha {
      grid-area: recaptcha;
      margin-bottom: $gap * 2;
    }
    .message--data-sending {
      grid-area: message-data-sending;
    }
    .message--request {
      grid-area: message-request;
    }
    .message--subscription {
      grid-area: message-subscription;
    }
    button {
      grid-area: submit;
    }
    .input,
    .select,
    .textarea {
      &:focus {
        border-width: 2px;
        border-color: $dark;
      }
    }
  }
  &__newsletter {
    padding: $gap * 10 $gap * 5 $gap * 5;
    border-radius: 0.6rem;
    border: 1px solid lighten($color: $primary, $amount: 26);
    max-width: 360px;
    margin: 0 auto;
    .input {
      background-color: $light;
      border-width: 2px;
      border-color: lighten($color: $primary, $amount: 26);
      &:focus {
        border-color: $dark;
      }
    }
  }
}

/* input-group */
.input-group {
  margin-bottom: $gap;
  .input-info {
    font-size: 1rem;
    padding-left: $gap;
  }
  &__grid {
    display: grid;
    grid-template-columns: 32px auto;
    grid-template-rows: auto;
    grid-template-areas: 'input input-label' 'info info';
    align-items: center;

    .input {
      grid-area: input;
    }
    .input-label {
      grid-area: input-label;
      margin-bottom: 0;
      cursor: pointer;
    }
    .info {
      grid-area: info;
    }
  }
}
/* image */
.image {
  width: max-content;
  margin: 0 auto;
}
.image.image--newsletter {
  position: relative;
  transform: translateY(40%);
  background-color: lighten($color: $primary, $amount: 30);
}
/* divider */
.divider {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba($color: $dark, $alpha: 0.1);
  margin-top: $gap * 6;
  margin-bottom: $gap * 6;
}
/* error */
.error {
  display: block;
  font-weight: 600;
  font-size: $fontSize;
}
/* message */
.message {
  padding: $gap * 5;
  text-align: center;

  &__title {
    font-size: $fontSize * 1.2;
    font-weight: 600;
  }
  &__content {
    margin-bottom: $gap * 2;
    font-weight: 500;
  }
  &__info {
    font-style: italic;
    font-size: $fontSize * 0.9;
  }
  &--btop-dark {
    border-top: 1px solid $dark;
  }
}

.message.message--newsletter {
  border-radius: 0.6rem;
  max-width: 578px;
  margin: 0 auto;
  border: 1px solid lighten($color: $primary, $amount: 26);
  .message__title {
    padding-top: $gap * 4;
  }
  .message__content {
    color: $light;
  }
  .message__info {
    color: $light;
  }
}
/* postcards */
.postcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: $gap * 6;
  column-gap: $gap * 6;
}
/* postcard */
.postcard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  &__article {
    flex-grow: 1;
    .image {
      width: 100%;
      margin-bottom: $gap * 2;
      overflow: hidden;
      img {
        transition: $transition;
        object-fit: cover;
        object-position: top center;
        @media screen and (min-width: map-get($map: $breakpoints, $key: 768)) {
          width: 360px;
          height: 225px;
        }
      }
    }
    .title {
      margin-bottom: $gap * 2;
      text-transform: capitalize;
      font-weight: 500;
      line-height: $lineHeight * 1.2;
    }
    .date {
      margin-bottom: $gap * 2;
      display: inline-block;
      font-size: $fontSize * 0.8;
    }
    .description {
      margin-bottom: $gap * 6;
    }
  }
  &:hover {
    background-color: lighten($color: $light, $amount: 100);
    color: $dark;
    img {
      transform: scale(1.2);
    }
  }
}
/* gallery */
.gallery {
  display: grid;
  width: 100%;
  justify-content: center;

  &__image {
    border: 1px solid $dark;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: top;
    }
  }
  @media screen and (min-width: map-get($map: $breakpoints, $key: 1200)) {
    grid-template-columns: repeat(5, minmax(320px, 1fr));
    grid-template-rows: repeat(4, 200px);
    img {
      object-fit: contain;
    }
  }
}
.gallery[data-layout='1'] {
  @media screen and (min-width: map-get($map: $breakpoints, $key: 1200)) {
    [data-position='1'] {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    [data-position='2'] {
      grid-column: 2/4;
      grid-row: 1/2;
    }
    [data-position='3'] {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    [data-position='4'] {
      grid-column: 5/6;
      grid-row: 1/2;
    }
    [data-position='5'] {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    [data-position='6'] {
      grid-column: 3/5;
      grid-row: 2/4;
    }
    [data-position='7'] {
      grid-column: 1/3;
      grid-row: 3/5;
    }
    [data-position='8'] {
      grid-column: 3/5;
      grid-row: 4/5;
    }
    [data-position='9'] {
      grid-column: 5/6;
      grid-row: 2/3;
    }
    [data-position='10'] {
      grid-column: 5/6;
      grid-row: 3/4;
    }
    [data-position='11'] {
      grid-column: 5/6;
      grid-row: 4/5;
    }
  }
}
